@model Movie

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"] (@Model.ReleaseDate.Value.Year)</h2>

<p>@Model.DurationInMinutes min. | @Model.ReleaseDate.Value.ToShortDateString()</p>

<div class="movie-wrapper">
    <div class="poster">
        <img src="@Model.MediumImageUrl" alt="@Model.Title Poster" />
    </div>
    <div class="details">
        <p><strong>Director: </strong></p>
        <p><strong>Released on: </strong>@Model.ReleaseDate.Value.ToShortDateString()</p>
        <p><strong>Plot: </strong>@Model.Description</p>
    </div>
</div>