@model MovieDetailModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"] (@Model.ReleaseDate.Value.Year)</h2>

<p>@Model.DurationInMinutes min. | @Model.ReleaseDate.Value.ToShortDateString()</p>

<div class="movie-wrapper">
    <div class="poster">
        <img title="@Model.Title" src="@Model.MediumImageUrl" alt="@Model.Title Poster" />
    </div>
    <div class="details">
        <p><strong>Rating: </strong> @Model.Rating.Value/10</p>
        <p><strong>Actors: </strong>@(string.Join(", ", Model.Actors.Select(a => a.FullName)))</p>
        <p><strong>Released on: </strong>@Model.ReleaseDate.Value.ToShortDateString()</p>
        <p><strong>Plot: </strong>@Model.Description</p>
        <p>
            <strong>Genres: </strong>
            @(string.Join(", ", Model.Genres.Select(g => g.Name)))
        </p>
    </div>
</div>

@foreach (var item in Model.Reviews)
{
    <div id="accordion">
        <div class="card card-my-card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#@item.Id" aria-expanded="true" aria-controls="collapseOne">
                        Comment from: @item.Author created On: @item.CreatedOn
                    </button>
                </h5>
            </div>
            <div id="@item.Id" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    @item.Comment
                </div>
            </div>
        </div>
    </div>
}
<partial name="_AddReviewPartial" model="@{ new ReviewViewModel { MovieId = Model.Id }}" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}







