@model MovieDetailModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@ViewData["Title"] (@Model.ReleaseDate.Value.Year)</h2>

<p>@Model.DurationInMinutes min. | @Model.ReleaseDate.Value.ToShortDateString()</p>

<div class="movie-wrapper">
    <div class="poster">
        <img title="@Model.Title" src="@Model.MediumImageUrl" alt="@Model.Title Poster" />
    </div>
    <div class="details">
        <p><strong>Rating: </strong> @Model.Rating.Value/10</p>
        <p><strong>Actors: </strong>@(string.Join(", ", Model.Actors.Select(a => a.FullName)))</p>
        <p><strong>Released on: </strong>@Model.ReleaseDate.Value.ToShortDateString()</p>
        <p><strong>Plot: </strong>@Model.Description</p>
        <p>
            <strong>Genres: </strong>
            @(string.Join(", ", Model.Genres.Select(g => g.Name)))
        </p>
    </div>
</div>

<partial name="_AddReviewPartial"  model="@{ new ReviewViewModel { MovieId = Model.Id }}" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}







