@model MovieDetailModel

@if (User.IsInRole("Moderator"))
{
    <p class="float-right">
        <a asp-area="Moderator" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.Id" role="button" class="btn btn-warning btn-lg">
            <i class="fas fa-pen"></i> Edit
        </a>

        <a asp-area="Moderator" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id"
           class="btn btn-danger btn-lg" role="button" id="deleteButton" data-target="#deleteMovieModal" data-toggle="modal"
           data-id="@Model.Id">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
    </p>
}
else
{
    <p class="float-right">
        @if (Model.IsInLibrary)
        {
            <button type="button" class="btn btn-success video-btn" data-toggle="modal" data-src="@Model.TrailerUrl" data-target="#videoModal">
                Watch
            </button>
        }
        else
        {
            <a asp-area="" asp-controller="Users" asp-action="Watch" asp-route-movieId="@Model.Id" asp-route-type="rent" role="button" class="btn btn-success btn-lg">$1.95 Rent</a>
            <a asp-area="" asp-controller="Users" asp-action="Watch" asp-route-movieId="@Model.Id" asp-route-type="buy" role="button" class="btn btn-success btn-lg ">$19.95 Buy</a>
        }
    </p>
}

<h2><span class="display-4">@Model.Title  </span> <span class="h2 text-warning">(@Model.ReleaseDate.Value.Year)</span></h2>

<h4><span class="badge badge-info">@Model.DurationInMinutes min. </span> | <span class="badge badge-info"> @Model.ReleaseDate.Value.ToShortDateString()</span></h4>

<div class="movie-wrapper">
    <div class="poster">
        <img class="img-responsive img-thumbnail" title="@Model.Title" src="@Model.MediumImageUrl" alt="@Model.Title Poster" />
    </div>
    <div class="details">
        <h4> <strong>Rating: </strong> <span class="badge badge-warning">@Model.Rating.Value/10</span></h4>

        <h4>
            <strong>Actors: </strong>
            @foreach (var actor in Model.Actors)
            {
                <span class="badge badge-info">
                    <a class="customLink text-white font-weight-light" asp-area="" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id">@actor.FullName</a>
                </span>

            }
        </h4>
        <h4>
            <strong>Genres: </strong>
            <span class="font-weight-light">@(string.Join(", ", Model.Genres.Select(g => g.Name)))</span>
        </h4>
        <p><strong>Released on: </strong>@Model.ReleaseDate.Value.ToShortDateString()</p>
        <p><strong>Plot: </strong>@Model.Description</p>

    </div>
</div>

<p class=" display-4 text-center text-primary"> Comments: </p>

<div class="row">
    <div id="reviews" class="col">
        <partial name="../Reviews/_MovieReviewsTable.cshtml" model="@Model.Reviews" />
    </div>
</div>

<br />
<br />
<div class="row">
    <div id="accordion" class="col">
        <div class="card card-my-card bg-light border-success mb-3">
            <div class="card-header" id="headingOne">
                <div class="mb-0">
                    <div data-toggle="collapse" data-target="#addComment" aria-expanded="false" aria-controls="collapseOne">
                        <p class="h5 text-center ">Write comment <i class="fas fa-caret-down"></i> </p>
                    </div>
                </div>
            </div>
            <div id="addComment" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <partial name="../Reviews/_AddReviewPartial" model="@{ new ReviewViewModel { MovieId = Model.Id }}" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog movie-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body movie-modal-body">

                    <button type="button" class="close close-modal-custom" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteMovieModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-area="Moderator" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete @Model.Title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this movie?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete" id="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var $videoSrc;
            $('.video-btn').click(function () {
                $videoSrc = $(this).data("src");
            });

            $('#videoModal').on('shown.bs.modal', function (e) {
                $("#video").attr('src', $videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1");
            })

            $('#videoModal').on('hide.bs.modal', function (e) {
                $("#video").attr('src', $videoSrc);
            })
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}