@model MovieIndexViewModel

@{
    ViewData["Title"] = "Movies Index";
}

<h2>@ViewData["Title"]</h2>

<div id="container">
    <select asp-for="GenreId" asp-items="@Model.Genres">
        <option value="0">--Select genre--</option>
    </select>

    <br /><br />

    <div id="genreResults">
        <partial name="_GenreResults" model="@Model" />
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        const firstPage = 1;
        reloadSelectedGenre(firstPage);

        $('#genreResults' > '#prevPage' ).click(function () {
            loadGenreResultsPartial( @Model.PreviousPage);
             @*changePage("#prevPage", @Model.PreviousPage);*@
        });

        $('#genreResults').click('#nextPage', function () {
             loadGenreResultsPartial( @Model.NextPage);

             @*changePage("#nextPage", @Model.NextPage);*@
        });
    });

     @*$(document).ready(function () {
        changePage("#prevPage", @Model.PreviousPage);
        changePage("#nextPage", @Model.NextPage);
    });*@

    const changePage = function (tagId, pageTarget) {
        $(tagId).click(function () {
            loadGenreResultsPartial(pageTarget);
        });
    }

    const loadGenreResultsPartial = function (page) {
        let genreId = $("#GenreId").val();
        let url = "@Url.Action("GetGenreMovies","Movies")?genre=" + genreId + "&page=" + page;
        console.log(url);

        $("#genreResults").load(url);
    }

    const reloadSelectedGenre = function(pageTarget) {
        $("#GenreId").change(function () {
             loadGenreResultsPartial(pageTarget);
        });
    }

</script>