@model SearchMovieViewModel

@{
    ViewData["Title"] = "Admin search movie page";
}

<h2>@ViewData["Title"]</h2>

@*<form asp-controller="Movies" asp-action="Search" method="POST">

        <p>
            Search for: <input asp-for="SearchString" class="form-control">
            <input type="submit" value="Search" class="btn btn-danger" />
        </p>

    </form>*@

<div class="search-results">

    <h1>DB results</h1>
    @if (!Model.DbMovies.Any())
    {
        <h1>
            Nothing found !
        </h1>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>  Title  </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var m in Model.DbMovies)
                {
                    <tr>
                        <td>
                            @m.Title
                        </td>
                        <td>
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@m.Id" class="btn btn-success">
                                View existing movie details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>

<div class="search-results">
    <h1>api results</h1>
    @if (!Model.ApiMovies.Any())
    {
        <h1>
            Nothing found !
        </h1>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>  Title  </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var m in Model.ApiMovies)
                {
                    <tr>
                        <td>
                            @m.Title
                        </td>
                        <td>
                            <a asp-controller="Movies" asp-action="AddToDb" asp-route-id="@m.ApiMovieId" class="btn btn-success">
                                Add movie to our DB
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>
