@model IEnumerable<ListUserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<a asp-action="Create" class="btn btn-success">Create New</a>
<hr />
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Roles
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Roles" asp-route-id="@item.Id" class="btn btn-primary">Roles</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    @*@Html.ActionLink("Delete", "Delete", new { item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>