@model ActorDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.FullName</h2>

<div class="actor-wrapper">
    <div class="poster">
        <img title="@Model.FullName" src="@Model.MediumImageUrl" alt="@Model.FullName" />
    </div>
    <div class="details">
        <p>
            <strong>IMDB page: </strong>
            <a href="@Model.ImdbProfileUrl">@Model.FullName</a>
        </p>
        <p><strong>Place of birth: </strong>@Model.PlaceOfBirth</p>
        <p><strong>Date of birth: </strong>@Model.DateOfBirth</p>

        @{if (Model.Movies.Count() == 1)
            {
                <p><strong>Movie:</strong></p>
            }
            else
            {
                <p><strong>Movies:</strong></p>
            }
        }
        @foreach (var movie in Model.Movies)
        {
            <p><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></p>
        }




        <p><strong>Something more: </strong>@Model.Biography</p>
    </div>
</div>
